@model XI.Models.Player

@{
    ViewBag.Title = "Add";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <br>
                <h1 id="title">Add Player</h1>
            </div>
            <div class="col-md-6 text-right">
                <img src="~/myImages/premlogo.png" />
            </div>
        </div>
    </div>
</div>


<div class="Add">
    @*displaying the anti-forgery section of the create form and...*@
    @*displaying the list of attributes for a new player to be added to the db.*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text danger" })
            <br>
            @*Create new Name*@
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Age*@
            <div class="form-group">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Age, "", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Nation*@
            <div class="form-group">
                @Html.LabelFor(model => model.Nation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nation, "", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nation, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Team*@
            <div class="form-group">
                @Html.LabelFor(model => model.Team, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Team, "", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Team, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Position*@
            <div class="form-group">
                @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Position, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Use acronym. eg. LB, LCDM" } })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Appearances*@
            <div class="form-group">
                @Html.LabelFor(model => model.Appearances, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Appearances, "", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Appearances, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Img1*@
            <div class="form-group">
                @Html.Label("Thumbnail", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Img1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter image url" } })
                    @Html.ValidationMessageFor(model => model.Img1, "", new { @class = "text-danger" })
                </div>
            </div>


            @*for the the details page*@

            @*Create new Img2*@
            <div class="form-group">
                @Html.Label("Poster", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Img2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter image url" } })
                    @Html.ValidationMessageFor(model => model.Img2, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Bio*@
            <div class="form-group">
                @Html.Label("Review", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bio, "", new { htmlAttributes = new { @class = "form-control col-md-6", rows = 10, @placeholder = "Write something about the palyer" } })
                    @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Create new Videio*@
            @*<div class="form-group">
                @Html.Label("Highlights", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Video, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter youtube url" } })
                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*Submittion button*@
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <div class="col-md-4">
                        <input type="submit" value="Create" class="act" />
                    </div>
                    <div class="col-md-5">
                      @Html.ActionLink("Back to List", "Index", null, new { @class = "act" })
                    </div>
                </div>

                @section Scripts{
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    }
</div>

